
 body {
 
    margin: 0;
    box-sizing: border-box;
 }
 
 
  .header {
	  
	  text-align: center;
	  background-color: 3498DC;
	  height: 100px;
	  margin: 0;
  }
  .header h1 {
	  
	  
	  font-style: 'Open Sans', sans-serif;
	  color: white;
	  
  }
 
 ul {
     
	 list-style-type: none;
	 width: 100%;
	 padding: 0;
	 overflow:hidden;
	 background-color: #7b7d7d;
	 margin: 0;
     
 }
 
 
 li  {
      float: left;
      border-right: 1px solid #bbb;
     
 }
 

 li a {
	 
	 display: block;
	 color:white ;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
	 font-style:  'Open Sans', sans-serif;
 }
  
  
  li a:hover:not(.active) {
	  
	  background-color:#111;
  }
  
  
  .content {
	  
	  margin:  100px 0px 0px 100px ;
	  padding: 10px 10px 10px 39px;
	  border: solid;
	  border-radius: 25px;
	  height: 1000px;
	  width: 500px;
  }
  
  .content img {
	  
	  border-radius: 25px;
  }
 